<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.l.myweather" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ooo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fU4leM8tXAFN9NRbbZbXzbrp" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NewAppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lha.weather.USER_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lha.weather.UPDATE_FROM_LOCAL" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lha.weather.UPDATE_FROM_INTERNET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.l.myweather.MainActivity" />
        </activity>

        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:exported="false"
            android:label="时间和自动更新服务"
            android:process=":background" >
        </service>

        <receiver android:name=".Widget4x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lha.weather.USER_UPDATE4x2" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lha.weather.UPDATE_TIME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lha.weather.UPDATE_FROM_LOCAL" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lha.weather.UPDATE_FROM_INTERNET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget4x2_info" />
        </receiver>
        <receiver
            android:name=".UpdateBroadcast"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.lha.weather.UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AddCityActivity"
            android:label="@string/title_activity_add_city"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.l.myweather.MainActivity" />
        </activity>
        <activity
            android:name=".CityManagerActivity"
            android:label="@string/title_activity_city_manager"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.l.myweather.MainActivity" />
        </activity>
    </application>

</manifest>
